<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% if post %}
                {{ post.title }} -
            {% endif %}
            {{ constants.BLOG_DESCRIPTION }}
        </title>
        <meta name="description" content="{{ constants.BLOG_SUBTITLE }}">
        {% load static %}
        <link rel="stylesheet" href="{% static "css/layout.css" %}">
        <link rel="stylesheet" href="{% static "css/markdown.css" %}">
        <link rel="stylesheet" href="{% static "css/fontawesome-all.min.css" %}">
    </head>
    <body>
        <div class="app">
            <header class="header">
                <div class="header-content">
                    <a class="header-title" href="/"><h1>{{ constants.BLOG_TITLE }}</h1></a>
                    <h2>{{ constants.BLOG_SUBTITLE }}</h2>
                    <ul class="header-social">
                        <a href="{{ constants.BLOG_GITHUB_URL }}"><li><i class="fab fa-github"></i></li></a>
                        <a href="{{ constants.BLOG_FACEBOOK_URL }}"><li><i class="fab fa-facebook-square"></i></li></a>
                        <a href="mailto:{{ constants.BLOG_EMAIL_ADDRESS }}"><li><i class="fas fa-envelope"></i></li></a>
                    </ul>
                </div>
            </header>
            <section class="main">
                {% block main %} {% endblock %}
            </section>
        </div>
    </body>
</html>